.contacts__author {

    background-color: #ca2d2d;
    /*цвет фона*/
    color: white;
    /*цвет тектса*/
    text-align: center;
    /*текст по центру*/

    margin: 0;
    /*внешние отступы обнулим*/
}

.contacts {
    display: flex;
    /* отображение в строку */
    gap: 30px;
    /* отступы между элементами*/
    border-top: 30px solid #ca2d2d;
    /* красная полоса сверху*/
    padding-top: 30px;
    /* внутренний отступ сверху*/

    padding-bottom: 30px;
    /* внутренний отступ снизу*/
}